# Data and Models
raw_data/
outputs/visuals/*.html

# Python caches
__pycache__/
*.pyc

# OS
.DS_Store

# Logs
*.log
ngrok.log

# Frontend (covered by frontend/.gitignore but safe to include here)
node_modules/
dist/
